/* Global colors */
$clr01: #311972;
$clr02: #471EC1;
$clr03: #8256EF;
$clr04: #30E4CA;
$clr05: #0B1930;
$clr06: #100B3E;
$clr07: #C3A266;
$clr08: #04132F;
$padding: 0 4rem;

/* Case studies colors */

$cs-clr01: #b4c2fe;
$cs-clr02: #303a99;
$cs-clr03: #ceab4e;
$cs-clr04: #df854d;
$cs-clr05: #df854d;
$cs-clr06: #c59b30;
$cs-clr07: #ee2975;
$cs-clr08: #cda630;
$cs-clr09: #45c56f;
$cs-clr10: #5cbaed;


/* wolf story */

$story-bg: #46005F;

/* Projects */

$project-bg1: #211136;
$project-bg2: #3D2A59;
$project-bg3: #354163;
$project-bg4: #E82175;
$project-bg5: #C11D4D;
$project-bg6: #5D5D94;
$project-bg7: #D6CAE6;
$project-bg8: #E3F2EF;
$project-bg9: #7180A2;

/* Contact background */

$contact-bg: #FC6355;